mat-grid-list {
    margin: 150px auto;
    width: 80%;
}

.containerTable {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
    
}

table {
    border: thin solid coral;
    background-color: white;
    width: 100%;
}

td {
    border: thin solid coral;
}
